<?xml version="1.0"?>
<configuration>
  <appSettings>
  <!--  <add key="DBConn" value="Data Source=192.168.56.5/ORCL;Persist Security Info=True;User ID=rwms;Password=ntidba;Unicode=True"/> -->
    <!--<add key="DBConn" value="Data Source=ORCL;Persist Security Info=True;User ID=rwms;Password=ntidba;Unicode=True" />-->
    <add key="DBConn" value="Data Source=10.1.11.73:1521/ORCL;Persist Security Info=True;User ID=rwms;Password=ntidba;Unicode=True"/>
    <add key="WareHouseID" value="8328b8331dbd42599c786684c1e304a3" />
    <add key="pagesize" value="38" />
    <add key="PLCNUMBER" value="1"/>
    <add key="GetTaskTime" value="6000" />
    <add key="GetStatusTime" value="1000" />
    <add key="MiniLoadOutBuffer" value="8" />
    <add key="IsBCtoA" value="N" />
    <!--获取堆垛机状态(当前位置,执行状态,模式等)-->
    <add key="PLCIP" value="192.168.56.11" />
    <!--PLC IP地址-->
    <add key="CRNCommandType" value="发送任务"/>
    <add key="Location" value="108223"/>
    <!--放货初始地址-->
    
    <add key="NT8000IP" value="172.16.96.130" />
    <add key="NT8000Port" value="8500" />
    <add key="PLCReLinkTimer" value="60000" />
    <!--PLC重新连接-->
    <add key="TimeOut" value="100" />
    <!--连接超时-->
    <add key="CheckConnectTimer" value="20000" />
    <!--重新连接-->
    <add key="GetStatusTime" value="1000"/>
    <!--获取状态-->
    <add key="FormStatus" value="1,1,1,1,1,1" />
    <!--界面是否加载(输送机，堆垛机，AGV，任务管理，日志查询)-->
    <add key="SCanDBTime" value="5000" />
    <!--AGV获取任务时间间隔-->
    <!--LED配置-->
    <add key="LED1A1" value="192.168.56.13" />
    <add key="LED1A2" value="192.168.56.14" />
    <add key="LED2A1" value="192.168.56.15" />
    <add key="LED2A2" value="192.168.56.16" />
    <add key="LED3A1" value="192.168.56.17" />
    <add key="LED3A2" value="192.168.56.18" />
    <add key="LED4A1" value="192.168.56.19" />
    <add key="LED4A2" value="192.168.56.20" />
    <add key="LEDShowInfo" value="设备运行中,请注意安全!" />
    <add key="AgvMaxTaskCount" value="7" />

    <!--视频配置-->
    <add key="SPIP" value="192.168.56.15" />
    <add key="SPPortRecv" value="2000" />
    <add key="SPPortSend" value="2001" />
    <add key="ImagePath" value="D:\ItemPhoto\172.16.96.130\SD2\cv-x\image\SD1_000\CAM1\" />
    <add key="SPQty" value="2" />
    
    <!--AGV获取任务最大数量-->
    <add key="CellWidth" value="26" />
    <add key="FontSize" value="7" />
    <!--输送机设备界面字体大小-->
    <add key="WCFServerIP" value="192.168.44.55" />
    <add key="WCFServerPort" value="42001" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NewBinding0">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:42001/Service" binding="netTcpBinding" bindingConfiguration="NewBinding0" contract="Service.IService" name="ICClient" kind="" endpointConfiguration="" />
      <!--OutBound InterfaceForWCS.IOutBound-->
    </client>
    <services>
      <service name="ComputeService.CComputeService">
        <endpoint address="net.tcp://192.168.44.55:5050/Compute" binding="netTcpBinding" bindingConfiguration="NewBinding0" contract="Compute.ICompute" />
      </service>
    </services>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>